<a href="https://colab.research.google.com/github/chloe-cyc/Vela_Midas/blob/main/Vela_Twitter_Midas_Organisation_View_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! gdown --id 1RxZ5v12NINAPM2gBvOinOmVWhkipvkHJ

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1RxZ5v12NINAPM2gBvOinOmVWhkipvkHJ
To: /content/Twitter Likes.csv
100% 8.96M/8.96M [00:00<00:00, 161MB/s]

In [ ]:
#Import Packages
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import seaborn as sns
import datetime #bi

pd.options.mode.chained_assignment = None

In [ ]:
likes = pd.read_csv("Twitter Likes.csv")
likes = likes.drop_duplicates()
#midas["round_order"] = midas.round_name.map(round_order)
likes.head()

   investor_name   organization       investor     liked_user  count
0  Ryan McIntyre  Foundry Group  ryan_mcintyre    chrismichel    153
1  Ryan McIntyre  Foundry Group  ryan_mcintyre      yoavlurie    153
2  Ryan McIntyre  Foundry Group  ryan_mcintyre  Rainmaker1973     84
3  Ryan McIntyre  Foundry Group  ryan_mcintyre         KatieS     41
4  Ryan McIntyre  Foundry Group  ryan_mcintyre             km     33

In [ ]:
likes_organization = likes.drop(columns=["investor_name","investor"]).groupby(likes["liked_user"], as_index=False).agg({"organization":"first","liked_user":"first", "count":"sum"})

In [ ]:
#List of investors
master_investor_list_likes = likes.investor.unique().tolist()
#List of orginizations
master_organization_list_likes = likes_organization.organization.unique().tolist()

['ryan_mcintyre', 'JayRughani', 'jfbuss', 'KenHowery', 'vintweeta', 'jewel3point14', 'davidu', 'schwark', 'ryanjsweeney', 'smc90', 'venturetwins', 'amitku', 'larry_y', 'astrange', 'deenashakir', 'garcegarce', 'mcmiller00', 'moradelhafed', 'anniecase1', 'AndrewOmori', 'chrismoodycom', 'anoushkavaswani', 'simonrothman', 'bad2thesloane', 'znoorani', 'reidhoffman', 'puneet324', 'stephzhan', 'houman81', 'reidRMC', 'ScottDSandell', 'cdixon', 'chrisfralic', 'jhroth55', 'ericvishria', 'JOHNOFA', 'msaintil', 'devdutt', 'bipulsinha', 'patrickfu', 'ericbthomas', 'kelly_kinnard', 'milesgrimshaw', 'mdgarratt', 'davidbelden', 'tadhg108', 'jerrychen', 'ElisaSchreiber', 'sraney', 'davthack', 'arampell', 'BradUSV', 'AbhinavC', 'KanuGulati', 'StevoLoughlin', 'npilosof', 'svenkatachalam', 'shawnvc', 'acvox', 'jesslivingston', 'ali01', 'adriancolyer', 'wolfejosh', 'dwyuan', 'sdianahu', 'gralston', 'joannezchen', 'johndoerr', 'bgurley', 'breckard', 'gwertz', 'LucianaLix', 'badboyboyce', 'fredwilson', 'akalokerinos', '_AnandDaniel', 'ammathew', 'jpsanday', 'Farshchi', 'kaychen22', 'peter_lauten', 'mamoonha', 'brettberson', 'mvernal', 'BigMekaStyle', 'mkhandel', 'tjack', 'abenik', 'zanelackey', 'bhorowitz', 'martincgibson', 'albertwenger', 'angusdav', 'msiegel11', 'chetanp', 'billelmore', 'obes00', 'rickyang', 'georgezachary', 'sriramk', 'gloriatlau', 'BarryEggers', 'buckhouse', 'veen', 'cmoldow', 'kbakes', 'mwseibel', 'ktmboyle', 'ashugarg', 'paulg', 'andy23tran', 'josh_coyne', 'kevinrose', 'biad_anas', 'withfries2', 'jmover', 'prayanks', 'altecremedy', 'rbatra', 'EverettRandle', 'radarkc', 'vas', 'tonysphere', 'mitchlasky', 'satishtalluri', 'crazyfoo', 'armenvidian', 'BogieBalkansky', 'dannieherz', 'arifj', 'nolimits', 'mayanoeth', 'gradypb', 'aaronej', 'cboshuizen', 'spencerpunter', 'mustafasuleymn', 'v1p1n', 'gustaf', 'pnakache', 'MeredithKendall', 'zackbogue', 'nik_quinn', 'gustai', 'saarsaar', 'OckenE', 'miyer', 'jcal7', 'pmarca', 'bradflora', 'neerajvc', 'peterfenton', 'Jormont1978', 'julesyoo', 'michellebailhe', 'ascohen', 'niparko', 'andrewaschoen', 'shaunmmaguire', 'mercebent', 'rishigarg', 'veelarco', 'mtrevithick', 'wendyyale', 'annarchyy', 'saranormous', 'dhaber', 'bradikern', 'aweissman', 'dougleone', 'annimaniac', 'aaron_epstein', 'mrogati', 'abatalion', 'psonsini', 'jorgecondebio', 'ai', 'amytongwu', 'dtabors', 'izhararmony', 'algovc', 'TalMorgenstern', 'ilyaf', 'jesskah', 'AmitMukherjee', 'MelissaTaunton', 'wennmachers', 'illscience', 'jerryye', 'andrewchen', 'joubinmir', 'vijaypande', 'fifaifofo', 'W_ScottWeiss', 'rsarver', 'eringrody', 'johnolilly', 'vassallo', 'carol_gallagher', 'conniechan', 'AjayChopra', 'ireneau', 'nickgrossman', 'paulbz', 'anandc', 'sether', 'barathshankar', 'rwong', 'ataussig', 'arvndgpta', 'robhayes', 'adaugelli', 'om', 'Alfred_Lin', 'rabois', 'samdblond', 'genomicsdoc', 'briansin', 'akad', 'ping_accel', 'guruchahal', 'briankasser', 'clarkematter', 'skirani', 'venkyganesan', 'mkclements', 'snowmaker', 'carl_eschenbach', 'paultoo', 'skupor', 'mmurph', 'mikekirkwood', 'simoncrosby', 'chendave', 'schreier', 'gauravgram', 'kevincomolli', 'johnbuttrick', 'hayleybay', 'donutsdidthis', 'kfreed', 'saammotamedi', 'whoisnnamdi', 'dychen3', 'zavaindar', 'caseyaylward', 'cjc', 'btrenchard', 'grgyap', 'scottnolan', 'moorski', 'jamesgreen2016', 'jay_drainjr', 'prashanthp', 'merci', 'herrod', 'daltonc', 'jasonmok', 'kshenster', 'andrew__reed', 'm2jr', 'ariannasimpson', 'nicole__north', 'martin_casado', 'hollyhliu', 'mduboe', 'lightspeedvp', 'jadelai__', 'jgauerbach', 'katecbarrett', 'alitamaseb', 'buckymoore', 'hnelis', 'ldeakman', 'jfreester', 'max_rimpel', 'AnsafK', 'ansanelli', 'traestephens', 'chandna', 'daniel_levine', 'jeremysliew', 'rohit_x_', 'arshammem', 'jeffreysilv', 'bfeld', 'JohnJarve', 'stacydamico', 'mattocko', 'davidsze', 'jeff_jordan', 'itsbeecher', 'dthakker02', 'jshoee', 'samirkaul1', 'louisberyl', 'geoff_yang', 'krishparikh', 'Tocelot', 'joshk', 'JeffImmelt', 'ravirajjain', 'sonalidr', 'pbotteri', 'zacktrak', 'janehk', 'timechange', 'hellomorganlai', 'amy', 'wakohler', 'sidtriv', 'jameskissell', 'divyahansg', 'roelofbotha', 'tonidotorg', 'benedictevans', 'mattcohler', 'jason_pontin', 'eladgil']

In [ ]:
#ORGANIZATION DATA
organization_data = likes.drop(columns=["investor_name","investor"]).groupby(likes["liked_user"], as_index=False).agg({"organization":"first","liked_user":"first", "count":"sum"})
organization_data.head(300)

            organization   liked_user  count
0        Kleiner Perkins      00byrne      2
1        Kleiner Perkins  00nicolette      3
2    Andreessen Horowitz    010Shivam      3
3        Sequoia Capital      0110dir      1
4                   DCVC     01Badger      1
..                   ...          ...    ...
295  Andreessen Horowitz  0xkapital_k     23
296  Andreessen Horowitz      0xkarel      1
297  Andreessen Horowitz  0xkarmacoma      1
298      Sequoia Capital       0xkatz      7
299         Y Combinator      0xkenzi      4

[300 rows x 3 columns]

In [ ]:
"""
Return for a pair of investors or organizations, the list of common liked or commented users

Parameters
---
investor_1: str
  Username of the first investor that the function analyses or name of the organization
investor_2: str
  Username of the second investor that the function analyses or name of the organization
invororg1: str
  Whether the investor of interest is an organizationor an investor

Other things to consider that could be added as a parameter:
  Is the common user also an investor?
  Is the common user someone who has been interacted greater than x number of times?
"""

def liked_together(investor_1, investor_2, invororg1, invororg2):
  data = likes

  #list of names that investor_1 and investor_2 have interacted with individually
  if invororg1 == "investor":
    investor1_liked = data.loc[data[invororg1] == investor_1].liked_user.unique()
  elif invororg1 == "organization":
    investor1_liked = organization_data.loc[organization_data[invororg1] == investor_1].liked_user.unique()

  if invororg2 == "investor":
    investor2_liked = data.loc[data[invororg2] == investor_2].liked_user.unique()
  elif invororg2 == "organization":
    investor2_liked = organization_data.loc[organization_data[invororg2] == investor_2].liked_user.unique()     
  
  #List of users who have been interacted with by the two investors
  matchlikedusers = set(investor1_liked) & set(investor2_liked)
  print(matchlikedusers)
  return matchlikedusers

def not_liked_together(investor_1, investor_2, invororg1, invororg2):
  data = likes

  #list of names that investor_1 and investor_2 have interacted with individually
  if invororg1 == "investor":
    investor1_liked = data.loc[data[invororg1] == investor_1].liked_user.unique()
  elif invororg1 == "organization":
    investor1_liked = organization_data.loc[organization_data[invororg1] == investor_1].liked_user.unique()

  if invororg2 == "investor":
    investor2_liked = data.loc[data[invororg2] == investor_2].liked_user.unique()
  elif invororg2 == "organization":
    investor2_liked = organization_data.loc[organization_data[invororg2] == investor_2].liked_user.unique()

  otherlikedusers = set(investor1_liked).difference(investor2_liked)

  return otherlikedusers

In [ ]:
#For a given two investors who have both invested in a given user, the distance between them is given by subtracting the count of each
#n.b This function will throw an error if the user is not liked by both investors - which is fine in our case

def distance(investor_1, investor_2, user, invororg1 = "", invororg2 = ""):
  data = likes

  if invororg1 == "investor":
    count_1 = data[(data[invororg1]== investor_1) & (data['liked_user']== user)]["count"].item()
  elif invororg1 == "organization":
    count_1 = organization_data[(organization_data[invororg1] == investor_1) & (data['liked_user']== user)]["count"].item()

  if invororg2 == "investor":
    count_2 = data[(data[invororg2]== investor_2) & (data['liked_user']== user)]["count"].item()
  elif invororg2 == "organization":
    count_2 = organization_data[(organization_data[invororg2] == investor_2) & (data['liked_user']== user)]["count"].item()

  dist = abs(count_1-count_2)
  return dist

distance("ryan_mcintyre","JayRughani","pmarca", "investor", "investor")

34

In [ ]:
"""
Finds N most similar investors to user specified constraints.

Parameters
---
Investor: Str
  The name of the Investor for which neighbours are which to be computed
N: Int
  The number of nearest neighbours to be computed
Similarity: str or list
  If str:
    Function used to compute the similarity between investors.
        - "jacc": jaccard similarity
        - "cond": conditional probability-based similarity
        - "abs": total number of users co-interacted
        - "count_sim": similarity which is inversly proportional to the distance between the investors specified using 'count_scale' and note that this 
Min_no_likes: int
  Only consider users which have at least minimum number of likes by specific user or total - not sure yet which one to use
sim_func: function
  The function used to convert the distance into a similarity measure on a [0, 1] interval when using like similarity as a similarity measure.
investors_list: list or ()
  If (): consider all the investors in the dataset
        Otherwise: only consider the similarity between the VC and the investors in the list
similarity_type: str
  - Investor to investor: "i_to_i"
  - Investor to organisation:"i_to_o"
  - Organisation to Organisation: "o_to_o" 
  - Organisation to investor: "o_to_i"

"""

def n_nearest_neighbours(investor_name, n=10, similarity="jacc", min_no_likes=50, sim_func="default", similarity_type = "i_to_i"):
  data = likes

  if sim_func == "default":
    def sim_func(x):
        return(1/(1+x))

  if similarity_type == "i_to_o":
    invororg1 = "investor"
    invororg2 = "organization"
    investor_un = data.loc[data.investor_name == investor_name, "investor"].head(1).item()
    investor_array = np.array(organization_data.groupby(invororg2).filter(lambda x: len(x) >= min_no_likes).organization.unique())
  elif similarity_type == "o_to_i":
    invororg1 = "organization"
    invororg2 = "investor"
    investor_un = investor_name
    investor_array = np.array(organization_data.groupby(invororg2).filter(lambda x: len(x) >= min_no_likes).organization.unique())
    investor_array_names = [data.loc[data.investor == i, "investor_name"].head(1).item() for i in investor_array]

  elif similarity_type == "i_to_i":
    invororg1 = "investor"
    invororg2 = "investor"
    investor_un = data.loc[data.investor_name == investor_name, "investor"].head(1).item()
    investor_array = investor_array[investor_array != investor_un] #List of investor usernames or organizations that do not include investor of interest
    investor_array_names = [data.loc[data.investor == i, "investor_name"].head(1).item() for i in investor_array]

  elif similarity_type == "o_to_o":
    invororg1 = "organization"
    invororg2 = "organization"
    investor_un = investor_name
    investor_array = np.array(organization_data.groupby(invororg2).filter(lambda x: len(x) >= min_no_likes).organization.unique())
    investor_array = investor_array[investor_array != investor_un] #List of investor usernames or organizations that do not include investor of interest

  #Computng similarities
  investor_interactions =[]
  for i in range(len(investor_array)):
    investor_interactions.append(data.loc[data[invororg2] == investor_array[i],"count"].sum())

  if invororg2 == "organization":
    similarity_df = pd.DataFrame({"Count": investor_interactions}, index=investor_array)
  elif invororg2 == "inveestor":
    similarity_df = pd.DataFrame({"Count": investor_interactions}, index=investor_array_names)
                      

  ind = 1
  if type(similarity) == str:  
    similarity = [similarity]

  for sim in similarity:

    if sim == "jacc": #counts have not been factored into this.
      sim_vector = [len(liked_together(investor_un,i,invororg1,invororg2))/(len(not_liked_together(investor_un,i,invororg1,invororg2))+len(liked_together(investor_un,i,invororg1,invororg2))) for i in investor_array]

    elif sim == "cond": #COunts have not been factored into this
      #Conditional probability that investor has liked a given user given that another investor has already liked them
      sim_vector = [len(liked_together(investor_un,i,invororg1,invororg2))/len(data.loc[data[invororg2] == i].liked_user.unique()) for i in investor_array] 

    elif sim == "abs": #counts have not been factored into this
      #Count the number of uesers that investor A and investor B have liked together
      sim_vector = [len(liked_together(investor_un,i,invororg1,invororg2)) for i in investor_array]

    elif sim == "count_sim":
      "Two investors are more similar if they liked a user a similar nmber of times."
      sim_vector = np.zeros(len(investor_array))
      dist = []
      total_dist = 0
      for i in range(len(investor_array)):
        together = liked_together(investor_un, investor_array[i],invororg1,invororg2)
        if together != 0:
          for u in together: # for a given user in the list of users that have been liked by two investors
            dist.append(distance(investor_un, investor_array[i], u,invororg1,invororg2))
            ave_dist = sum(dist)/len(together)
          sim_vector[i] = sim_func(ave_dist)
        elif together ==0:
          sim_vector[i]=0

    if invororg2 == "organization":
      new_sim_df = pd.DataFrame({sim: sim_vector}, index=investor_array)  
    elif invororg2 == "investor":
      new_sim_df = pd.DataFrame({sim: sim_vector}, index=investor_array_names)
    
    similarity_df = similarity_df.join(new_sim_df)
    
    #if ind == 1:
     #   similarity_df = similarity_df.sort_values(by=similarity[0], ascending=False).head(n)
     #   investors_top = list(similarity_df.index)
     #   investor_array = [invested_list[list(investors).index(x)] for x in investors_top]
    #    investors = investors_top.copy()
    #    ind += 1
    similarity_df = similarity_df.sort_values(by=similarity[0], ascending=False).head(n)

  return similarity_df

n_nearest_neighbours("Founders Fund", similarity = ("abs"), similarity_type = "o_to_o", n = len(master_organization_list_likes))

set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()

                             Count  abs
Kleiner Perkins              16017    0
Andreessen Horowitz          76437    0
Battery Ventures              2422    0
Mayfield Fund                 6969    0
Menlo Ventures               11090    0
Angel (Elad)                  1945    0
Redpoint                      7839    0
Benchmark                    11444    0
Khosla Ventures               7070    0
Foundry Group                 9955    0
Union Square Ventures         7583    0
First Round Capital          16989    0
Lux Capital                   9312    0
True Ventures                12930    0
Lightspeed Venture Partners  41999    0
Foundation Capital           14587    0
Greylock                     21290    0
New Enterprise Associates     9782    0
Accel                        28258    0
CRV                          13167    0
Floodgate                     4790    0
Y Combinator                 22259    0
General Catalyst              7847    0
DCVC                         19447    0
Sequoia Capital              28253    0
Trinity Ventures              1443    0